<!DOCTYPE html>
<html>
<head>
  <title>Emblog: Ember app</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "emberapp" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta charset="utf-8">
</head>
<body>
  <div id='ember-container'></div>

  <script type="text/x-handlebars" data-template-name="index">
    <h1>Ember App Index</h1>
    <ul>
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    </ul>

  </script>

  <script type="text/x-handlebars" data-template-name="posts/index">

    <h1>Listing posts</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        {{#each post in model}}
          <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>{{#link-to 'post' post}}SHOW{{/link-to}}</td>
            <td>EDIT</td>
            <td>DESTROY</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </script>

  <script type="text/x-handlebars" data-template-name="post/index">

    <p>
      <strong>Title:</strong>
      {{ title }}
    </p>

    <p>
      <strong>Body:</strong>
      {{ body }}
    </p>

  </script>
</body>
</html>
